/* ==========================================================================
   Imports
   ========================================================================== */
/* line 6, ../sass/_normalize.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section,
summary, time, mark, audio, video {
  border: 0;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

/* line 15, ../sass/_normalize.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 16, ../sass/_normalize.scss */
body {
  line-height: 1;
}

/* line 17, ../sass/_normalize.scss */
ol, ul {
  list-style: none;
}

/* line 18, ../sass/_normalize.scss */
blockquote, q {
  quotes: none;
}

/* line 20, ../sass/_normalize.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 21, ../sass/_normalize.scss */
:focus {
  outline: none;
}

/* line 22, ../sass/_normalize.scss */
ins {
  text-decoration: none;
}

/* line 23, ../sass/_normalize.scss */
del {
  text-decoration: line-through;
}

/* line 24, ../sass/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 25, ../sass/_normalize.scss */
a {
  text-decoration: none;
}

/* line 26, ../sass/_normalize.scss */
* {
  box-sizing: border-box;
}

/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

  Mixins available:
    -   background-gradient     - arguments: Start Color: #3C3C3C, End Color: #999999
    -   background-size         - arguments: Width: 100%, Height: 100%
    -   border-radius           - arguments: Radius: 5px
    -   border-radius-separate  - arguments: Top Left: 5px, Top Left: 5px, Bottom Left: 5px, Bottom Right: 5px
    -   box                     - arguments: Orientation: horizontal, Pack: center, Align: center
    -   box-rgba                - arguments: R: 60, G: 3, B: 12, Opacity: 0.23, Color: #3C3C3C
    -   box-shadow              - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   box-sizing              - arguments: Type: border-box
    -   columns                 - arguments: Count: 3, Gap: 10
    -   double-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Radius: 0
    -   flex                    - arguments: Value: 1
    -   flip                    - arguments: ScaleX: -1
    -   font-face               - arguments: Font Family: myFont, Eot File Src: myFont.eot, Woff File Src: myFont.woff, Ttf File Src: myFont.ttf
    -   opacity                 - arguments: Opacity: 0.5
    -   outline radius          - arguments: Radius: 5px
    -   resize                  - arguments: Direction: both
    -   rotate                  - arguments: Degree: 0, M11: 0, M12: 0, M21: 0, M22: 0
    CSS Matrix Rotation Calculator http://www.boogdesign.com/examples/transforms/matrix-calculator.html
    -   text-shadow             - arguments: X: 2px, Y: 2px, Blur: 5px, Color: rgba(0,0,0,.4)
    -   transform               - arguments: Parameters: null
    -   transition              - arguments: What: all, Length: 1s, Easing: ease-in-out
    -   triple-borders          - arguments: Color One: #3C3C3C, Color Two: #999999, Color Three: #000000, Radius: 0

------------------------------------------------------------- */
/* BACKGROUND GRADIENT */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* BOX */
/* BOX RGBA */
/* BOX SHADOW */
/* BOX SIZING */
/* COLUMNS */
/* DOUBLE BORDERS */
/* FLEX */
/* FLIP */
/* OPACITY */
/* ROTATE*/
/* TEXT SHADOW */
/* TRANSITION */
/* ==========================================================================
   VARIABLES
   ========================================================================== */
/* Colors
   ========================================================================== */
/* Don't use black */
/* Gray scale */
/* Hilight */
/* Accent Colors */
/* Typography
   ========================================================================== */
/* Type Scale
   ========================================================================== */
/** * 12 & 16 as roots then powers of two. */
/* Break Points
   ========================================================================== */
/* Mobile */
/* Tablet */
/* Style Tidbits
   ========================================================================== */
/* ==========================================================================
   Media Queries

   - Mobile
   - Tablets
   ========================================================================== */
/* line 39, ../sass/_grid.scss */
body {
  width: 100%;
}
/* line 49, ../sass/_mixins.scss */
body:before, body:after {
  content: "";
  display: table;
}
/* line 52, ../sass/_mixins.scss */
body:after {
  clear: both;
}
/* line 55, ../sass/_mixins.scss */
body {
  zoom: 1;
}

/* Mobile
   ========================================================================== */
/* Tablet
   ========================================================================== */
/* ==========================================================================
   TYPE
   - Meat
   - Headings
   ========================================================================== */
/* Meat
   ========================================================================== */
/* line 10, ../sass/_type.scss */
p {
  font-size: 20px;
}

/* line 14, ../sass/_type.scss */
.intro {
  font-size: 32px;
  line-height: 1.4em;
}

/* Headings
   ========================================================================== */
/* line 24, ../sass/_type.scss */
h1, .h1 {
  font-size: 64px;
}

/* line 25, ../sass/_type.scss */
h2, .h2 {
  font-size: 48px;
}

/* line 26, ../sass/_type.scss */
h3, .h3 {
  font-size: 32px;
}

/* line 27, ../sass/_type.scss */
h4, .h4 {
  font-size: 24px;
}

/* line 28, ../sass/_type.scss */
h5, .h5 {
  font-size: 16px;
}

/* line 29, ../sass/_type.scss */
h6, .h6 {
  font-size: 12px;
}

/* line 31, ../sass/_type.scss */
.meta {
  font-size: 12px;
}

/* line 33, ../sass/_type.scss */
blockquote {
  font-size: 48px;
}

/************ Basic *************/
/* line 3, ../sass/_styles.scss */
body {
  font-family: "Calendas Plus", "Crimson Text";
  color: #3b3b3b;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  text-size-adjust: 100%;
  background: #f9f9f9;
  min-height: 100%;
  height: 100%;
  overflow-x: hidden;
}

/* line 14, ../sass/_styles.scss */
h1, h2, h3, h4, h5 {
  font-family: "Calendas Plus", "Crimson Text";
}

/* line 18, ../sass/_styles.scss */
p {
  line-height: 30px;
  margin-bottom: 30px;
}

/* line 23, ../sass/_styles.scss */
a, a:visited, a:active {
  color: #8ab9d1;
  -moz-transition: color 0.25s ease-in-out;
  -o-transition: color 0.25s ease-in-out;
  -webkit-transition: color 0.25s ease-in-out;
  -ms-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
  padding-bottom: 1px;
}

/* line 29, ../sass/_styles.scss */
a:hover {
  color: #3b3b3b;
  -moz-transition: color 0.25s ease-in-out;
  -o-transition: color 0.25s ease-in-out;
  -webkit-transition: color 0.25s ease-in-out;
  -ms-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
}

/* line 34, ../sass/_styles.scss */
em {
  font-style: italic;
}

/* line 38, ../sass/_styles.scss */
strong {
  font-weight: bold;
}

/* line 42, ../sass/_styles.scss */
small {
  font-size: 16px;
}

/* line 46, ../sass/_styles.scss */
.hilite {
  display: inline-block;
  padding: 0 0.3em;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #fffbd7;
}

/* line 53, ../sass/_styles.scss */
blockquote {
  font-style: italic;
  line-height: 1.3em;
  text-align: center;
  color: #3c3c3c;
  margin-bottom: 30px;
}

/* line 61, ../sass/_styles.scss */
hr {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 4px;
  background: #d9d9d9;
  border: none;
  margin-bottom: 30px;
  border-radius: 2px;
}

/* Variables and Building Blocks */
/* line 74, ../sass/_styles.scss */
.icons {
  font-family: "Icons";
  font-size: 14px;
  line-height: 20px;
}

/* line 80, ../sass/_styles.scss */
.bb {
  border-bottom: 2px solid #8ab9d1;
}

/************ Layout *************/
/* line 86, ../sass/_styles.scss */
#bump {
  min-height: 100%;
  height: auto;
  margin: 0 auto-320px;
}

/* line 92, ../sass/_styles.scss */
.wrap {
  max-width: 960px;
  width: 98vw;
  float: none;
  margin: 0 auto;
}
/* line 49, ../sass/_mixins.scss */
.wrap:before, .wrap:after {
  content: "";
  display: table;
}
/* line 52, ../sass/_mixins.scss */
.wrap:after {
  clear: both;
}
/* line 55, ../sass/_mixins.scss */
.wrap {
  zoom: 1;
}

/* line 100, ../sass/_styles.scss */
.post {
  display: inline;
  float: left;
  width: 56.9998%;
  margin: 0 0.66665%;
  max-width: 700px;
  display: block;
  margin: 0 auto;
  float: none;
}

/* Header */
/* line 111, ../sass/_styles.scss */
header.site-header {
  padding: 20px 0;
  border-bottom: 1px solid #d9d9d9;
}

/* line 115, ../sass/_styles.scss */
header.site-header a.menu {
  display: none;
}

/* line 118, ../sass/_styles.scss */
header.site-header hgroup h1, header.site-header nav ul {
  font-family: "Source Sans Pro", "Open Sans";
}

/* line 121, ../sass/_styles.scss */
header.site-header hgroup {
  float: left;
}
/* line 123, ../sass/_styles.scss */
header.site-header hgroup h1 {
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  color: #24536b;
  letter-spacing: 2px;
  text-transform: uppercase;
}
/* line 131, ../sass/_styles.scss */
header.site-header hgroup a {
  color: #3b3b3b;
}
/* line 133, ../sass/_styles.scss */
header.site-header hgroup a:hover {
  color: #8ab9d1;
}

/* line 140, ../sass/_styles.scss */
header.site-header nav {
  float: right;
  display: block;
}
/* line 49, ../sass/_mixins.scss */
header.site-header nav:before, header.site-header nav:after {
  content: "";
  display: table;
}
/* line 52, ../sass/_mixins.scss */
header.site-header nav:after {
  clear: both;
}
/* line 55, ../sass/_mixins.scss */
header.site-header nav {
  zoom: 1;
}
/* line 144, ../sass/_styles.scss */
header.site-header nav ul li {
  font-size: 16px;
  text-transform: uppercase;
  display: inline;
  top: 2px;
  position: relative;
  margin-left: 20px;
}
/* line 151, ../sass/_styles.scss */
header.site-header nav ul li a {
  color: #3b3b3b;
}
/* line 153, ../sass/_styles.scss */
header.site-header nav ul li a:hover {
  color: #6e6e6e;
}

/* Article Stuff */
/* line 164, ../sass/_styles.scss */
.article {
  position: relative;
  margin-bottom: 30px;
}
/* line 168, ../sass/_styles.scss */
.article .overlay {
  vertical-align: middle;
  min-height: 200px;
  height: 50vh;
  width: 100%;
  max-height: 800px;
  position: absolute;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
}
/* line 179, ../sass/_styles.scss */
.article .featured-image {
  vertical-align: middle;
  min-height: 200px;
  height: 50vh;
  width: 100%;
  max-height: 800px;
  background-position: center center;
  background-size: cover;
  vertical-align: middle;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  position: relative;
  top: 0;
  z-index: -1;
}
/* line 194, ../sass/_styles.scss */
.article .featured-image img {
  max-height: 800px;
}
/* line 200, ../sass/_styles.scss */
.article header {
  margin: 60px 0 30px 0;
}
/* line 202, ../sass/_styles.scss */
.article header hgroup {
  color: #3b3b3b;
  position: relative;
  text-align: center;
  width: 100%;
}
/* line 207, ../sass/_styles.scss */
.article header hgroup .date {
  font-family: "Source Sans Pro", "Open Sans";
  font-size: 16px;
  font-weight: bold;
  color: #d9d9d9;
  text-transform: uppercase;
  margin-top: 20px;
}
/* line 217, ../sass/_styles.scss */
.article header .intro {
  text-align: left;
}

/* line 230, ../sass/_styles.scss */
.archive {
  display: inline;
  float: left;
  width: 81.9997%;
  margin: 0 0.66665%;
  display: block;
  margin: 0 auto;
  float: none;
  margin-top: 50px;
}

/* line 238, ../sass/_styles.scss */
.archive-wrap {
  display: inline;
  float: left;
  width: 98.6663%;
  margin: 0 0.66665%;
  display: block;
  margin: 0 auto;
  float: none;
}
/* line 245, ../sass/_styles.scss */
.archive-wrap .post-list {
  list-style-type: none;
  list-style: none;
  display: inline;
  float: left;
  width: 56.9998%;
  margin: 0 0.66665%;
  margin-left: 25.66655%;
  display: block;
  float: none;
}
/* line 253, ../sass/_styles.scss */
.archive-wrap .post-list lh h1 {
  font-size: 48px;
  margin-bottom: 30px;
}
/* line 258, ../sass/_styles.scss */
.archive-wrap .post-list li {
  display: inline;
  float: left;
  width: 98.6663%;
  margin: 0 0.66665%;
  display: block;
  float: none;
  font-size: 32px;
  margin-bottom: 60px;
  position: relative;
}
/* line 266, ../sass/_styles.scss */
.archive-wrap .post-list li a {
  position: relative;
}
/* line 270, ../sass/_styles.scss */
.archive-wrap .post-list li a:visited:after {
  content: '✓';
  color: #d9d9d9;
  font-family: "Entypo";
  position: absolute;
  margin-left: -80px;
  font-size: 50px;
  left: 0;
  top: -10px;
  text-align: center;
}
/* line 282, ../sass/_styles.scss */
.archive-wrap .post-list li a:after {
  content: '❞';
  color: #d9d9d9;
  font-family: "Entypo";
  position: absolute;
  margin-left: -80px;
  font-size: 50px;
  top: -10px;
  left: 0;
  text-align: center;
}
/* line 294, ../sass/_styles.scss */
.archive-wrap .post-list li h1 {
  font-size: 32px;
  font-style: italic;
}
/* line 300, ../sass/_styles.scss */
.archive-wrap .post-list .summary {
  font-size: 18px;
  line-height: 1.45em;
}
/* line 305, ../sass/_styles.scss */
.archive-wrap .post-list .date time {
  position: relative;
  top: -6px;
  font-size: 14px;
  font-weight: bold;
  font-family: "Source Sans Pro", "Open Sans";
  font-style: normal;
  color: #d9d9d9;
  text-transform: uppercase;
  vertical-align: middle;
}

/* line 322, ../sass/_styles.scss */
.post .deets {
  position: relative;
  top: 45px;
  z-index: 5;
}
/* line 326, ../sass/_styles.scss */
.post .deets .date {
  font-size: 16px;
  position: relative;
  top: 10px;
  left: 6px;
  color: #999999;
}
/* line 335, ../sass/_styles.scss */
.post h1 {
  font-style: italic;
}
/* line 339, ../sass/_styles.scss */
.post figure {
  margin: 30px 0;
}
/* line 342, ../sass/_styles.scss */
.post figure img {
  margin-bottom: 15px;
}
/* line 346, ../sass/_styles.scss */
.post figure figcaption {
  font-size: 16px;
  font-family: "Source Sans Pro", "Open Sans";
  font-weight: bold;
  text-transform: uppercase;
  color: #bbbbbb;
  text-align: center;
}
/* line 356, ../sass/_styles.scss */
.post img {
  width: 100%;
  height: auto;
  display: block;
  margin: 30px auto;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 364, ../sass/_styles.scss */
.post h1, .post h2, .post h3, .post h4, .post h5 {
  margin-bottom: 30px;
}
/* line 368, ../sass/_styles.scss */
.post .share {
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 76px;
  font-size: 16px;
  font-family: "Source Sans Pro", "Open Sans";
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 4px 6px 4px 6px;
  color: #d9d9d9;
  border: 2px solid rgba(217, 217, 217, 0.7);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 382, ../sass/_styles.scss */
.post .share:hover {
  color: #8ab9d1;
  border-color: rgba(138, 185, 209, 0.7);
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

/* Footer Stuff */
/* line 391, ../sass/_styles.scss */
.push {
  height: 320px !important;
}

/* line 395, ../sass/_styles.scss */
footer {
  width: 100%;
  background: #3b3b3b;
  height: 320px;
  font-size: 16px;
  color: #f9f9f9;
  position: relative;
}
/* line 404, ../sass/_styles.scss */
footer section {
  display: inline;
  float: left;
  width: 81.9997%;
  margin: 0 0.66665%;
  display: block;
  width: 101.3329%;
  margin: 0 -0.66665%;
  display: block;
  margin: 0 auto;
}
/* line 49, ../sass/_mixins.scss */
footer section:before, footer section:after {
  content: "";
  display: table;
}
/* line 52, ../sass/_mixins.scss */
footer section:after {
  clear: both;
}
/* line 55, ../sass/_mixins.scss */
footer section {
  zoom: 1;
}
/* line 411, ../sass/_styles.scss */
footer small {
  text-align: center;
  display: block;
  width: 100%;
  position: absolute;
  bottom: 8px;
  font-family: "Source Sans Pro", "Open Sans";
  text-transform: uppercase;
  color: rgba(249, 249, 249, 0.1);
}
/* line 422, ../sass/_styles.scss */
footer .list-title {
  margin-bottom: 15px;
  border-bottom: 2px solid #8ab9d1;
  font-style: italic;
  font-size: 24px;
}
/* line 428, ../sass/_styles.scss */
footer .prev-posts {
  display: inline;
  float: left;
  width: 48.6665%;
  margin: 0 0.66665%;
  min-height: 250px;
}
/* line 431, ../sass/_styles.scss */
footer .prev-posts p {
  padding-top: 60px;
}
/* line 434, ../sass/_styles.scss */
footer .prev-posts li {
  display: block;
  width: 102.6662%;
  margin: 0 -1.3333%;
  margin-top: 15px;
  font-size: 32px;
}
/* line 49, ../sass/_mixins.scss */
footer .prev-posts li:before, footer .prev-posts li:after {
  content: "";
  display: table;
}
/* line 52, ../sass/_mixins.scss */
footer .prev-posts li:after {
  clear: both;
}
/* line 55, ../sass/_mixins.scss */
footer .prev-posts li {
  zoom: 1;
}
/* line 438, ../sass/_styles.scss */
footer .prev-posts li .recent-title a {
  display: inline;
  float: left;
  width: 30.6666%;
  margin: 0 1.3333%;
  font-size: 20px;
  font-style: italic;
}
/* line 442, ../sass/_styles.scss */
footer .prev-posts li .recent-title a:hover {
  color: #f9f9f9;
}
/* line 446, ../sass/_styles.scss */
footer .prev-posts li span.date {
  float: none;
  color: rgba(217, 217, 217, 0.6);
  display: inline;
  float: left;
  width: 30.6666%;
  margin: 0 1.3333%;
  position: relative;
  font-size: 16px;
  font-family: "Source Sans Pro", "Open Sans";
  text-transform: uppercase;
}
/* line 458, ../sass/_styles.scss */
footer .social {
  position: relative;
  top: 60px;
  display: inline;
  float: left;
  width: 15.3333%;
  margin: 0 0.66665%;
  margin-left: 33.99985%;
  padding-top: 60px;
  font-size: 18px;
  font-style: italic;
}
/* line 467, ../sass/_styles.scss */
footer .social a:hover {
  color: #f9f9f9;
}
/* line 472, ../sass/_styles.scss */
footer .social ul li {
  margin-bottom: 15px;
}
/* line 474, ../sass/_styles.scss */
footer .social ul li:last-child {
  margin-bottom: 0;
}
