/* ==========================================================================
   Imports
   ========================================================================== */
/* line 6, ../sass/_normalize.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section,
summary, time, mark, audio, video {
  border: 0;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

/* line 15, ../sass/_normalize.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 16, ../sass/_normalize.scss */
body {
  line-height: 1;
}

/* line 17, ../sass/_normalize.scss */
ol, ul {
  list-style: none;
}

/* line 18, ../sass/_normalize.scss */
blockquote, q {
  quotes: none;
}

/* line 20, ../sass/_normalize.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 21, ../sass/_normalize.scss */
:focus {
  outline: none;
}

/* line 22, ../sass/_normalize.scss */
ins {
  text-decoration: none;
}

/* line 23, ../sass/_normalize.scss */
del {
  text-decoration: line-through;
}

/* line 24, ../sass/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 25, ../sass/_normalize.scss */
a {
  text-decoration: none;
}

/* line 26, ../sass/_normalize.scss */
* {
  box-sizing: border-box;
}

/* BOX */
/* BOX RGBA */
/* BOX SHADOW */
/* BOX SIZING */
/* COLUMNS */
/* DOUBLE BORDERS */
/* FLEX */
/* FLIP */
/* OPACITY */
/* ROTATE*/
/* TEXT SHADOW */
/* TRANSITION */
/* ==========================================================================
   VARIABLES
   ========================================================================== */
/* Colors
   ========================================================================== */
/* Don't use black */
/* Gray scale */
/* Hilight */
/* Accent Colors */
/* Typography
   ========================================================================== */
/* Type Scale
   ========================================================================== */
/** * 12 & 16 as roots then powers of two. */
/* Break Points
   ========================================================================== */
/* Mobile */
/* Tablet */
/* Style Tidbits
   ========================================================================== */
/* ==========================================================================
   Media Queries

   - Mobile
   - Tablets
   ========================================================================== */
/* line 39, ../sass/_grid.scss */
body {
  width: 100%;
}
/* line 11, ../sass/_mixins.scss */
body:before, body:after {
  content: "";
  display: table;
}
/* line 14, ../sass/_mixins.scss */
body:after {
  clear: both;
}
/* line 17, ../sass/_mixins.scss */
body {
  zoom: 1;
}

/* ==========================================================================
   TYPE
   - Meat
   - Headings
   ========================================================================== */
/* Meat
   ========================================================================== */
/* line 10, ../sass/_type.scss */
p {
  font-size: 22px;
}

/* line 14, ../sass/_type.scss */
.intro {
  font-size: 32px;
  line-height: 1.4em;
}

/* Headings
   ========================================================================== */
/* line 24, ../sass/_type.scss */
h1, .h1 {
  font-size: 64px;
}

/* line 25, ../sass/_type.scss */
h2, .h2 {
  font-size: 48px;
}

/* line 26, ../sass/_type.scss */
h3, .h3 {
  font-size: 32px;
}

/* line 27, ../sass/_type.scss */
h4, .h4 {
  font-size: 24px;
}

/* line 28, ../sass/_type.scss */
h5, .h5 {
  font-size: 16px;
}

/* line 29, ../sass/_type.scss */
h6, .h6 {
  font-size: 12px;
}

/* line 31, ../sass/_type.scss */
.meta {
  font-size: 12px;
}

/* line 33, ../sass/_type.scss */
blockquote, blockquote p {
  font-size: 48px;
}

/************ Basic *************/
/* line 3, ../sass/_styles.scss */
body {
  font-family: "Calendas Plus", "Crimson Text", "Hoefler Text", "Georgia", serif;
  color: #3b3b3b;
  -webkit-font-smoothing: antialiased;
  /* Fix for webkit rendering */
  text-size-adjust: 100%;
  background: #f9f9f9;
  min-height: 100%;
  height: 100%;
  overflow-x: hidden;
}

/* line 14, ../sass/_styles.scss */
h1, h2, h3, h4, h5 {
  font-family: "Calendas Plus", "Crimson Text", "Hoefler Text", "Georgia", serif;
}

/* line 18, ../sass/_styles.scss */
p {
  line-height: 33px;
  margin-bottom: 33px;
}

/* line 23, ../sass/_styles.scss */
a, a:visited, a:active {
  color: #8ab9d1;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

/* line 28, ../sass/_styles.scss */
a:hover {
  color: #24536b;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

/* line 33, ../sass/_styles.scss */
em {
  font-style: italic;
}

/* line 37, ../sass/_styles.scss */
strong {
  font-weight: bold;
}

/* line 41, ../sass/_styles.scss */
small {
  font-size: 16px;
}

/* line 45, ../sass/_styles.scss */
.hilite {
  display: inline-block;
  padding: 0 0.3em;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #fffbd7;
}

/* line 52, ../sass/_styles.scss */
blockquote, blockquote p {
  font-style: italic;
  line-height: 1.3em;
  text-align: center;
  color: #3c3c3c;
  margin-bottom: 33px;
}

/* line 60, ../sass/_styles.scss */
hr {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 4px;
  background: #d9d9d9;
  border: none;
  margin-bottom: 33px;
  border-radius: 2px;
}

/* Variables and Building Blocks */
/* line 73, ../sass/_styles.scss */
.icons {
  font-family: "Icons";
  font-size: 14px;
  line-height: 20px;
}

/* line 79, ../sass/_styles.scss */
.bb {
  border-bottom: 2px solid #8ab9d1;
}

/************ Layout *************/
/* line 85, ../sass/_styles.scss */
#bump {
  min-height: 100%;
  height: auto;
  margin: 0 auto-320px;
}

/* line 91, ../sass/_styles.scss */
.wrap {
  max-width: 960px;
  display: inline;
  float: left;
  width: 97%;
  margin: 0 1.5%;
  float: none;
  margin: 0 auto;
  overflow: hidden;
}
/* line 11, ../sass/_mixins.scss */
.wrap:before, .wrap:after {
  content: "";
  display: table;
}
/* line 14, ../sass/_mixins.scss */
.wrap:after {
  clear: both;
}
/* line 17, ../sass/_mixins.scss */
.wrap {
  zoom: 1;
}

/* line 100, ../sass/_styles.scss */
.post {
  display: inline;
  float: left;
  width: 77%;
  margin: 0 1.5%;
  max-width: 680px;
  display: block;
  margin: 0 auto;
  float: none;
}

/* Header */
/* line 111, ../sass/_styles.scss */
header.site-header {
  padding: 20px 0;
  position: absolute;
  width: 100%;
  z-index: 5000;
}
/* line 117, ../sass/_styles.scss */
header.site-header .wrap {
  max-width: 90vw;
}

/* line 125, ../sass/_styles.scss */
#bump .darken a {
  color: #3b3b3b;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 129, ../sass/_styles.scss */
#bump .darken a:hover {
  color: #8ab9d1;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 137, ../sass/_styles.scss */
header.site-header a.menu {
  display: none;
}

/* line 141, ../sass/_styles.scss */
header.site-header hgroup h1, header.site-header nav ul {
  font-family: "Source Sans Pro", "Open Sans", "Helvetica Neue", "Arial", sans-serif;
}

/* line 144, ../sass/_styles.scss */
header.site-header hgroup {
  float: left;
  padding-left: 5vw;
}
/* line 147, ../sass/_styles.scss */
header.site-header hgroup h1 {
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  color: #24536b;
  letter-spacing: 2px;
  text-transform: uppercase;
}
/* line 155, ../sass/_styles.scss */
header.site-header hgroup a {
  color: #fff;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 159, ../sass/_styles.scss */
header.site-header hgroup a:hover {
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.6);
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

/* line 166, ../sass/_styles.scss */
header.site-header nav {
  float: right;
  display: block;
  padding-right: 5vw;
}
/* line 11, ../sass/_mixins.scss */
header.site-header nav:before, header.site-header nav:after {
  content: "";
  display: table;
}
/* line 14, ../sass/_mixins.scss */
header.site-header nav:after {
  clear: both;
}
/* line 17, ../sass/_mixins.scss */
header.site-header nav {
  zoom: 1;
}
/* line 171, ../sass/_styles.scss */
header.site-header nav ul li {
  font-size: 16px;
  text-transform: uppercase;
  display: inline;
  top: 2px;
  position: relative;
  margin-left: 20px;
}
/* line 178, ../sass/_styles.scss */
header.site-header nav ul li a {
  color: white;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 181, ../sass/_styles.scss */
header.site-header nav ul li a:hover {
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.6);
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

/* Article Stuff */
/* line 193, ../sass/_styles.scss */
.article {
  position: relative;
  margin-bottom: 33px;
}
/* line 197, ../sass/_styles.scss */
.article .overlay {
  vertical-align: middle;
  min-height: 360px;
  height: 50vh;
  width: 100%;
  max-height: 800px;
  position: absolute;
  z-index: 2;
  background: rgba(0, 0, 0, 0.55);
}
/* line 208, ../sass/_styles.scss */
.article .featured-image {
  vertical-align: middle;
  min-height: 360px;
  height: 50vh;
  width: 100%;
  max-height: 800px;
  background-position: center center;
  background-size: cover;
  vertical-align: middle;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  position: relative;
  top: 0;
  z-index: -1;
}
/* line 223, ../sass/_styles.scss */
.article .featured-image img {
  max-height: 800px;
}
/* line 229, ../sass/_styles.scss */
.article header {
  margin: 66px 0 33px 0;
}
/* line 231, ../sass/_styles.scss */
.article header hgroup {
  color: #3b3b3b;
  position: relative;
  text-align: center;
  width: 100%;
  margin-top: 0;
}
/* line 237, ../sass/_styles.scss */
.article header hgroup .date {
  font-family: "Source Sans Pro", "Open Sans", "Helvetica Neue", "Arial", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #d9d9d9;
  text-transform: uppercase;
  margin-top: 22px;
}
/* line 247, ../sass/_styles.scss */
.article header .intro {
  text-align: left;
}

/* line 260, ../sass/_styles.scss */
.archive {
  display: inline;
  float: left;
  width: 97%;
  margin: 0 1.5%;
  display: block;
  margin: 0 auto;
  float: none;
  min-height: 300px;
}

/* line 268, ../sass/_styles.scss */
.archive-wrap {
  display: inline;
  float: left;
  width: 97%;
  margin: 0 1.5%;
  max-width: 800px;
  display: block;
  margin: 0 auto;
  float: none;
  padding-top: 140px;
}
/* line 277, ../sass/_styles.scss */
.archive-wrap .post-list {
  list-style-type: none;
  list-style: none;
  display: inline;
  float: left;
  width: 67%;
  margin: 0 1.5%;
  margin-left: 21.5%;
  display: block;
  float: none;
}
/* line 285, ../sass/_styles.scss */
.archive-wrap .post-list lh h1 {
  font-size: 48px;
  margin-bottom: 49.5px;
}
/* line 290, ../sass/_styles.scss */
.archive-wrap .post-list li {
  display: block;
  float: none;
  font-size: 32px;
  margin-bottom: 66px;
  position: relative;
}
/* line 297, ../sass/_styles.scss */
.archive-wrap .post-list li a {
  position: relative;
}
/* line 301, ../sass/_styles.scss */
.archive-wrap .post-list li a:visited:after {
  content: '✓';
  color: #d9d9d9;
  font-family: "Icons";
  position: absolute;
  margin-left: -70px;
  font-size: 60px;
  left: 0;
  top: -6px;
  text-align: center;
}
/* line 313, ../sass/_styles.scss */
.archive-wrap .post-list li a:after {
  content: '“';
  color: #d9d9d9;
  font-family: "Icons";
  position: absolute;
  margin-left: -70px;
  font-size: 60px;
  top: -6px;
  left: 0;
  text-align: center;
}
/* line 325, ../sass/_styles.scss */
.archive-wrap .post-list li h1 {
  font-size: 32px;
  font-style: italic;
}
/* line 331, ../sass/_styles.scss */
.archive-wrap .post-list .summary {
  font-size: 18px;
  line-height: 1.45em;
}
/* line 336, ../sass/_styles.scss */
.archive-wrap .post-list .date time {
  position: relative;
  top: -6px;
  font-size: 14px;
  font-weight: bold;
  font-family: "Source Sans Pro", "Open Sans", "Helvetica Neue", "Arial", sans-serif;
  font-style: normal;
  color: #d9d9d9;
  text-transform: uppercase;
  vertical-align: middle;
}

/* line 351, ../sass/_styles.scss */
.post {
  min-height: 300px;
}
/* line 355, ../sass/_styles.scss */
.post .deets {
  position: relative;
  top: 45px;
  z-index: 5;
}
/* line 359, ../sass/_styles.scss */
.post .deets .date {
  font-size: 16px;
  position: relative;
  top: 10px;
  left: 6px;
  color: #999999;
  margin-bottom: 16.5px;
}
/* line 369, ../sass/_styles.scss */
.post h1 {
  font-style: italic;
}
/* line 373, ../sass/_styles.scss */
.post h1, .post h2, .post h3, .post h4, .post h5 {
  padding-top: 22px;
}
/* line 377, ../sass/_styles.scss */
.post figure {
  margin: 33px 0;
}
/* line 380, ../sass/_styles.scss */
.post figure img {
  margin-bottom: 16.5px;
}
/* line 384, ../sass/_styles.scss */
.post figure figcaption {
  font-size: 16px;
  font-family: "Source Sans Pro", "Open Sans", "Helvetica Neue", "Arial", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #bbbbbb;
  text-align: center;
}
/* line 394, ../sass/_styles.scss */
.post img {
  width: 100%;
  height: auto;
  display: block;
  margin: 33px auto;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 402, ../sass/_styles.scss */
.post h1, .post h2, .post h3, .post h4, .post h5 {
  margin-bottom: 11px;
}
/* line 406, ../sass/_styles.scss */
.post .share {
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 76px;
  font-size: 16px;
  font-family: "Source Sans Pro", "Open Sans", "Helvetica Neue", "Arial", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 4px 6px 4px 6px;
  color: #d9d9d9;
  border: 2px solid rgba(217, 217, 217, 0.7);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
/* line 420, ../sass/_styles.scss */
.post .share:hover {
  color: #8ab9d1;
  border-color: rgba(138, 185, 209, 0.7);
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

/* Footer Stuff */
/* line 429, ../sass/_styles.scss */
.push {
  height: 80px !important;
}

/* line 433, ../sass/_styles.scss */
footer {
  width: 100%;
  background: #3b3b3b;
  height: 320px;
  font-size: 22px;
  color: #f9f9f9;
  position: relative;
}
/* line 442, ../sass/_styles.scss */
footer section {
  display: inline;
  float: left;
  width: 97%;
  margin: 0 1.5%;
  display: block;
  width: 103%;
  margin: 0 -1.5%;
  display: block;
  margin: 0 auto;
}
/* line 11, ../sass/_mixins.scss */
footer section:before, footer section:after {
  content: "";
  display: table;
}
/* line 14, ../sass/_mixins.scss */
footer section:after {
  clear: both;
}
/* line 17, ../sass/_mixins.scss */
footer section {
  zoom: 1;
}
/* line 449, ../sass/_styles.scss */
footer small {
  text-align: center;
  display: block;
  width: 100%;
  position: absolute;
  bottom: 8px;
  font-family: "Source Sans Pro", "Open Sans", "Helvetica Neue", "Arial", sans-serif;
  text-transform: uppercase;
  color: rgba(249, 249, 249, 0.1);
}
/* line 460, ../sass/_styles.scss */
footer .list-title {
  margin-bottom: 16.5px;
  border-bottom: 2px solid #8ab9d1;
  font-style: italic;
  font-size: 24px;
}
/* line 466, ../sass/_styles.scss */
footer .prev-posts {
  display: inline;
  float: left;
  width: 57.0%;
  margin: 0 1.5%;
  max-width: 600px;
  min-height: 250px;
  padding-left: 5vw;
}
/* line 471, ../sass/_styles.scss */
footer .prev-posts p {
  padding-top: 66px;
}
/* line 474, ../sass/_styles.scss */
footer .prev-posts li {
  display: block;
  width: 102.5%;
  margin: 0 -1.25%;
  margin-top: 16.5px;
}
/* line 11, ../sass/_mixins.scss */
footer .prev-posts li:before, footer .prev-posts li:after {
  content: "";
  display: table;
}
/* line 14, ../sass/_mixins.scss */
footer .prev-posts li:after {
  clear: both;
}
/* line 17, ../sass/_mixins.scss */
footer .prev-posts li {
  zoom: 1;
}
/* line 477, ../sass/_styles.scss */
footer .prev-posts li .recent-title {
  display: inline;
  float: left;
  width: 64.16667%;
  margin: 0 1.25%;
  font-style: italic;
}
/* line 481, ../sass/_styles.scss */
footer .prev-posts li .recent-title a:hover {
  color: #f9f9f9;
}
/* line 486, ../sass/_styles.scss */
footer .prev-posts li span.date {
  float: none;
  color: rgba(217, 217, 217, 0.6);
  display: inline;
  float: left;
  width: 30.83333%;
  margin: 0 1.25%;
  position: relative;
  font-size: 16px;
  font-family: "Source Sans Pro", "Open Sans", "Helvetica Neue", "Arial", sans-serif;
  text-transform: uppercase;
  text-align: right;
}
/* line 499, ../sass/_styles.scss */
footer .social {
  position: absolute;
  top: 109px;
  display: inline;
  float: left;
  width: 14.16667%;
  margin: 0 1.25%;
  right: 5vw;
  font-style: italic;
}
/* line 506, ../sass/_styles.scss */
footer .social a:hover {
  color: #f9f9f9;
}
/* line 511, ../sass/_styles.scss */
footer .social ul li {
  margin-bottom: 16.5px;
}
/* line 513, ../sass/_styles.scss */
footer .social ul li:last-child {
  margin-bottom: 0;
}

/* Tablet
   ========================================================================== */
@media only screen and (max-width: 800px) {
  /* line 529, ../sass/_styles.scss */
  h1 {
    font-size: 48px;
  }

  /* line 533, ../sass/_styles.scss */
  blockquote, blockquote p {
    font-size: 32px;
  }

  /* line 537, ../sass/_styles.scss */
  footer {
    font-size: 16px;
  }
  /* line 547, ../sass/_styles.scss */
  footer .prev-posts li span.date {
    font-size: 12px;
  }
  /* line 553, ../sass/_styles.scss */
  footer .social {
    right: 10vw;
  }
}
/* Mobile
   ========================================================================== */
@media only screen and (max-width: 500px) {
  /* line 567, ../sass/_styles.scss */
  footer .social {
    display: none;
  }
  /* line 571, ../sass/_styles.scss */
  footer aside {
    width: 90%;
    margin: 0 auto;
  }
  /* line 576, ../sass/_styles.scss */
  footer .prev-posts {
    display: inline;
    float: left;
    width: 87%;
    margin: 0 1.5%;
    padding-left: 0;
    float: none;
    margin: 0 auto;
    display: block;
  }
  /* line 582, ../sass/_styles.scss */
  footer .prev-posts li {
    margin-top: 16.5px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 592, ../sass/_styles.scss */
  .intro {
    font-size: 24px;
  }

  /* line 596, ../sass/_styles.scss */
  blockquote, blockquote p {
    font-size: 24px;
  }

  /* line 600, ../sass/_styles.scss */
  .post {
    display: inline;
    float: left;
    width: 87%;
    margin: 0 1.5%;
    max-width: 680px;
    display: block;
    margin: 0 auto;
    float: none;
  }

  /* line 608, ../sass/_styles.scss */
  p {
    font-size: 16px;
    line-height: 24px;
  }

  /* line 613, ../sass/_styles.scss */
  footer {
    font-size: 16px;
  }

  /* line 617, ../sass/_styles.scss */
  small {
    font-size: 12px;
  }
}
