/************ Basic *************/

body {
  font-family: $serif;
  color: $black;
  -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
  text-size-adjust: 100%;
  background: $white;
  min-height: 100%;
  height: 100%;
  overflow-x: hidden;
}

h1,h2,h3,h4,h5 {
    font-family: $serif;
}

p {
    line-height: $lh;
    margin-bottom: $lh;
}

a, a:visited, a:active {
    color: $link;
    @include transit(all,0.25s,ease-in-out);
}

a:hover {
    color: $accent;
    @include transit(all,.25s, ease-in-out)
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

small {
    font-size: $fs5;
}

.hilite {
    display: inline-block;
    padding: 0 0.3em;
    @include br(4px);
    background: $hilite;
}

blockquote, blockquote p {
    font-style: italic;
    line-height: 1.3em;
    text-align: center;
    color: lighten($black, .2);
    margin-bottom: $lh;
}

hr {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 4px;
    background: $grey-light;
    border: none;
    margin-bottom: $lh;
    border-radius: 2px;
}

/* Variables and Building Blocks */

.icons {
  font-family: "Icons";
  font-size: 14px;
  line-height: 20px; 
}

.bb {
    border-bottom: 2px solid $link;
}

/************ Layout *************/

#bump {
    min-height: 100%;
    height: auto;
    margin: 0 auto -$footerHeight;
}

.wrap {
    max-width: 960px;
    @include column(10);
    float: none;
    margin: 0 auto;
    @include clearfix;
    overflow: hidden;
}

.post {
    @include column(8);
    max-width: 680px;
    display: block;
    margin: 0 auto;
    float: none;
}


/* Header */

header.site-header {
  padding: 20px 0;
  position: absolute;
  width: 100%;
  z-index: 5000;
  
  .wrap {
      max-width: 90vw;
  }

}

#bump .darken {
      
      a {
      color: $black;
      @include transit(all, .2s, ease-in-out);

      &:hover {
        color: $link;
        @include transit(all, .2s, ease-in-out);
        }
      }
}


header.site-header a.menu {
  display: none;
}

header.site-header hgroup h1, header.site-header nav ul {
  font-family: $sans;
}
header.site-header hgroup {
  float: left;
  padding-left: 5vw;
  h1 {
      font-weight: 700;
      font-size: 18px;
      line-height: 100%;
      color: $accent;
      letter-spacing: 2px;
      text-transform: uppercase;
  }
  a {
      color: #fff;
      @include transit(all, .2s, ease);

      &:hover {
        @include tshd(0, 0, 3px, rgba(255,255,255,.6));
        @include transit(all, .2s, ease);
      }
  }
}

header.site-header nav {
  float: right;
  display: block;
  padding-right: 5vw;
  @include clearfix;
  ul li {
    font-size: 16px;
    text-transform: uppercase;
    display: inline;
    top: 2px;
    position: relative;
    margin-left: 20px; 
    a {
        color: white;
        @include transit(all, .2s, ease);
        &:hover {
            @include tshd(0, 0, 3px, rgba(255,255,255,.6));
            @include transit(all, .2s, ease);
        }
    } 
  }
}


/* Article Stuff */

   
.article {
    position: relative;
    margin-bottom: $lh;
    
    .overlay {
        vertical-align: middle;
        min-height: 360px;
        height: 50vh;
        width: 100%;
        max-height: 800px;
        position: absolute;
        z-index: 2;
        background: rgba(0,0,0,.55);
    }
    
    .featured-image {
        vertical-align: middle;
        min-height: 360px;
        height: 50vh;
        width: 100%;
        max-height: 800px;
        background-position: center center;
        background-size: cover;
        vertical-align: middle;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        position: relative;
        top: 0;
        z-index: -1;
        img {
            max-height: 800px;
        }
    }
    
    // Header Stuff
    header {
        margin: (2*$lh) 0 $lh 0;
        hgroup {
            color: $black;
            position: relative;
            text-align: center;
            width: 100%;
            .date {
                font-family: $sans;
                font-size: $fs5;
                font-weight: bold;
                color: $grey-light;
                text-transform: uppercase;
                margin-top: $lh * 2/3;
            }
        }
        
        .intro {
            text-align: left;
        }
    }
}

// Loader
img.loading {
    
}

// Archive Page

.archive {
    @include column(10);
    display: block;
    margin: 0 auto;
    float: none;
    min-height: 300px;
}

.archive-wrap {
    @include column(10);
    max-width: 800px;
    display: block;
    margin: 0 auto;
    float: none;
    padding-top: 140px;
    
    // Post Listing
    .post-list {
        list-style-type: none;
        list-style: none;
        @include column(7);
        @include push(2);
        display: block;
        float: none;
        
        lh h1 {
            font-size: $fs2;
            margin-bottom: $lh*1.5;
        }
        
        li {
            display: block;
            float: none;
            font-size: $fs3;
            margin-bottom: $lh*2;
            position: relative;
            
            a {
                position: relative;
            }
            
            a:visited:after {
                content:'✓';
                color: $grey-light;
                font-family: "Entypo";
                position: absolute;
                margin-left: -80px;
                font-size: 50px;
                left: 0;
                top: -10px;
                text-align: center;
            }
            
            a:after {
                content:'❞';
                color: $grey-light;
                font-family: "Entypo";
                position: absolute;
                margin-left: -80px;
                font-size: 50px;
                top: -10px;
                left: 0;
                text-align: center;
            }
            
            h1 {
                font-size: $fs3;
                font-style: italic;
            }
        }
        
        .summary {
            font-size: 18px;
            line-height: 1.45em;
        }
        
        .date time {
            position: relative;
            top: -6px;
            font-size: 14px;
            font-weight: bold;
            font-family: $sans;
            font-style: normal;
            color: $grey-light;
            text-transform: uppercase;
            vertical-align: middle;
        }
    }
}
 

.post {
    
    min-height: 300px;
    
    .deets {
        position: relative;
        top: 45px;
        z-index: 5;
        .date {
            font-size: $fs5;
            position: relative;
            top: 10px;
            left: 6px;
            color: $grey-medium;
        }
    }
    
    h1 {
        font-style: italic;
    }
    
    figure {
        margin: $lh 0;
        
        img {
            margin-bottom: $lh/2;
        }
        
        figcaption {
            font-size: $fs5;
            font-family: $sans;
            font-weight: bold;
            text-transform: uppercase;
            color: lighten($black, 50%);
            text-align: center;
        }
    }
    
    img {
        width: 100%;
        height: auto;
        display: block;
        margin: $lh auto;
        @include br(4px);
    }
    
    h1,h2,h3,h4,h5 {
        margin-bottom: $lh;
    }    
    
    .share {
        text-align: center;
        display: block;
        margin: 0 auto;
        width: 76px;
        font-size: $fs5;
        font-family: $sans;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 1px;
        padding: 4px 6px 4px 6px;
        color: $grey-light;
        border: 2px solid transparentize($grey-light,.3);
        @include br(4px);
        &:hover {
            color: $link;
            border-color: transparentize($link,.3);
            @include transit(all,.2s,ease)
        }
    }
}

/* Footer Stuff */
.push {
    height: $footerHeight/4 !important;
}

footer {
    width: 100%;
    background: $black;
    height: $footerHeight;
    font-size: $fsp;
    color: $white;
    position: relative;
        
    // Contain that ish
    section {
        @include column(10);
        @include row(10);
        display: block;
        margin: 0 auto;
    }
    
    small {
        text-align: center;
        display: block;
        width: 100%;
        position: absolute;
        bottom: 8px;
        font-family: $sans;
        text-transform: uppercase;
        color: transparentize($white, .9);
    }
    
    .list-title {
        margin-bottom: $lh/2;
        border-bottom: 2px solid $link;
        font-style: italic;
        font-size: $fs4;
    }
    .prev-posts {
        @include column(6,10);
        max-width: 600px;
        min-height: 250px;
        padding-left: 5vw;
        p {
            padding-top: $lh*2;
        }
        li {
            @include row(12);
            margin-top: $lh/2;
            .recent-title {
                @include column(8,12);
                font-style: italic;
                a {
                    &:hover {
                        color: $white;
                    }
                }
            }
            span.date {
                float: none;
                color: transparentize($grey-light, .4);
                @include column(4,12);
                position: relative;
                font-size: $fs5;
                font-family: $sans;
                text-transform: uppercase;
                text-align: right;
            }
        }
    }
    
    .social {
        position: absolute;
        top: 109px;
        @include column(2,12);
        right: 5vw;
        font-style: italic;
        a {
            &:hover {
                color: $white;
            }
        }
        ul {
            li {
                margin-bottom: $lh/2;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}


/* Tablet
   ========================================================================== */

@media only screen and (max-width: $breakpoint-2-max-width) {
    
// Type Fixes

h1 {
    font-size: $fs2;
}

blockquote, blockquote p {
    font-size: $fs3;
}

footer {
    font-size: $fs5;
    
    .prev-posts {
        li  {
          
          .recent-title {
              
          }
          
          span.date {
              font-size: $fs6;
          }  
        }
    }
    
    .social {
        right: 10vw;
    }
}
    
    
}

/* Mobile
   ========================================================================== */

@media only screen and (max-width: 500px) {
    footer {
    
    .social {
        display: none;
    }
    
    aside {
        width: 90%;
        margin: 0 auto;
    }
    
    .prev-posts {
        @include column(9);
        padding-left: 0;
        float: none;
        margin: 0 auto;
        display: block;
        li {
            margin-top: $lh/2;
        }
    }
    
    }
}


@media only screen and (max-width: $breakpoint-1-max-width) {
.intro {
    font-size: $fs4;
} 

blockquote, blockquote p {
    font-size: $fs4;
}

.post {
    @include column(9);
    max-width: 680px;
    display: block;
    margin: 0 auto;
    float: none;
}

p {
    font-size: $fs5;
    line-height: 24px;
}

footer {
    font-size: $fs5;
}

small {
    font-size: $fs6;
}

}




