/* ==========================================================================
   VARIABLES
   ========================================================================== */

/* Colors
   ========================================================================== */

/* Don't use black */

$black:  #3b3b3b;
$white: #f9f9f9;

/* Gray scale */

$grey-dark:   #222;
$grey-medium: #999;
$grey-light:  #d9d9d9;

/* Hilight */
$hilite: #fffbd7;

/* Accent Colors */
$link: #8AB9D1;
$accent: #24536B;


/* Typography
   ========================================================================== */

$sans: "Source Sans Pro", "Open Sans";
$serif: "Crimson Text";

   
/* Type Scale
   ========================================================================== */

/** * 12 & 16 as roots then powers of two. */

$fs1:64px;
$fs2:48px;
$fs3:32px;
$fs4:24px;
$fs5:16px;
$fs6:12px;

// Line Height

$lh: 36px;

// Sizing 
$footerHeight: 320px;


/* Break Points
   ========================================================================== */
   
/* Mobile */
$breakpoint-1-max-width:480px;

/* Tablet */
$breakpoint-2-min-width:800px;
$breakpoint-2-max-width:1024px;

/* Style Tidbits
   ========================================================================== */

$borderR: 4px;

