// Colors
$red: #EC6F66;
$green: #A5DA95;
$black: #504a46;
$lighter: #d2d2d2;
$bg: #f8f8f8;
$navy: #3C424E;
$pink: #EC6F66;
$hilite: #fffbd7;

$borderR: 4px;

// Sizing
$wrapW: 960px;
$footerH: 320px;
$articleW: 660px;

// Animations
$ease: all .25s ease;

// Breaks

$break-small: 320px;
$break-mid: 760px;
$break-large: 1600px;


// Typography

$sans: "Sans Serif", "Open Sans";
$sans-alt: "freight-sans-pro", "Freight Sans Pro";
$grot: "brandon-grotesque", "grot" ;

$font-size: 24px;
$lh: 1.5*$font-size;
$fs1: 48px;
$fs2: 36px;
$fs3: 28px;
$fs4: 24px;

// Mixins

@mixin underline($border-color) {
  border-bottom: 2px solid $border-color; 
}

@mixin clearfix {
 // For modern browsers
  &:before,
  &:after {
    content:"";
    display:table;
  }  &:after {
    clear:both;
  }  // For IE 6/7 (trigger hasLayout)
  & {
    zoom:1;
    }
}
  
/*- RESET ----------------------------------- */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,
form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,
canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,
summary,time,mark,audio,video {
  border: 0;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { display: block; }
body { line-height: 1; }
ol,ul { list-style: none; }
blockquote,q { quotes: none; }
blockquote:before,blockquote:after,
q:before,q:after { content: ''; content: none; }
:focus { outline: none; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }
a { text-decoration: none; }
* { box-sizing: border-box;}

/*- TYPOGRAPHY ----------------------------------- */

html {
    font-size: 62.5%;
    height: 100%;
    min-height: 100%;
}

body {
  font-family: $sans, $sans-alt;
  color: $black;
  font-smoothing: antialiased; /* Fix for webkit rendering */
  text-size-adjust: 100%;
  background: $bg;
  min-height: 100%;
  height: 100%;
}

h1, h2, h3, h4, h5 {
  font-family: $grot;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: $lh;
}

h1 { 
  font-size: $fs1;
}

h2 {
    font-size: $fs2;
}

h3 {
    font-size: $fs3;
}

h4 {
    font-style: italic;
    font-size: $fs4;
    font-weight: bold;
}

p {
  font-size: $fs4;
  font-weight: 400;
  line-height: $lh;
  margin-bottom: $lh;
}
a, a:visited, a:active {
  color: $red;
  transition: color .25s ease-in-out;
}
a:hover {
  color: lighten($black,.2);
  transition: color .25s ease-in-out;
}

em { 
  font-style: italic;
}

strong {
  font-weight: bold;
}

hr {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 4px;
    background: rgb(240, 240, 240);
    border: none;
    margin-bottom: 36px;
    border-radius: 2px;
}

.hilite {
    display: inline-block;
    padding: 0 0.3em;
    border-radius: 4px;
    background: $hilite;
}

.left {
    float: left;
}

.right {
    float: right;
}

.hidden {
    display: none;
}

.invisi {
    visibility: hidden;
}

.centered {
    display: block;
    margin: 0 auto;
}

article.post ul, article.post ol {
  font-size: $font-size;
  margin: 0 0 $lh 40px;
  li {
      line-height: $lh/2;
      margin-bottom: $lh/2;
  }
}
article.post ul {
  list-style: disc;
}

blockquote {
  color: $black;
  font-style: italic;
  font-size: $font-size;
  line-height: $lh;
  padding: 0 20px 0 $lh;
  margin-bottom: $lh;
  border-left: 4px solid $lighter;
}

/*- BUTTONS ----------------------------------*/
.btn-jacket {
    display: block;
    margin: 0 auto;
    padding-top: $lh;
    padding-bottom: $lh;
    width: 100%;
    height: auto;
    text-align: center;
    .button {
        box-shadow: 0px 1px 0px rgba(0,0,0,0.10);
        text-shadow: 0px 1px 0px rgba(0,0,0,.10);
    }
}

.button {
    line-height: 40px;
    height: 40px;
    width: auto;
    padding: 4px 12px;
    text-align: center;
    border: 4px solid $red;
    border-radius: $borderR;
    width: 100%;
    font-size: $font-size - .2;
    font-weight: bold;
    font-family: $grot;
    background: none;
    transition: border-color .3s ease-in-out;
    &:hover {
        color: $black;
        border-color: $black;
        transition: border-color .5s ease-in-out;  
    }
}

/*- LAYOUT ----------------------------------- */
#bump {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -320px; 
}

.wrap {
  width: 960px;
  margin: 0 auto;
  .post {
      padding: 0 ((960px - $articleW) / 2);
  }
  @include clearfix;
}

.archive-wrap {
    width: 90%;
    min-width: 300px;
    max-width: 860px;
    margin: 0 auto;
    @include clearfix;
}

/*- HEADER ----------------------------------- */
header.site-header {
  padding: 20px 0;
  border-bottom: 1px solid $lighter;
}
header.site-header a.menu {
  display: none;
}
header.site-header hgroup h1, header.site-header nav ul {
  font-family: $grot;
}
header.site-header hgroup {
  float: left;
  h1 {
      font-weight: 700;
      font-size: 20px;
      line-height: 100%;
      letter-spacing: 2px;
      text-transform: uppercase;
  }
  a {
      color: $black;
      &:hover {
          color: $red;
      }
  }
  
}

header.site-header nav {
  float: right;
  display: block;
  @include clearfix;
  ul li {
    font-size: 16px;
    display: inline;
    font-weight: 300;
    margin-left: 20px; 
    a {
        color: $black;
        &:hover {
            color: lighten($black, 20%)
        }
    } 
  }
}


/* Lando */

.wrap-alt {
     margin: 0 auto;
     width: 1120px;
     
     @media only screen and (max-width : 1200px) {
        width: 90%;
     }
}

.portf {
    min-height: 600px;
    border-bottom: 4px solid #DAD7D7;
    overflow-x: hidden;
    max-width: 100%;
    height: 100%;
    margin-bottom: none;
}

.sl-head {
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 10%;
    text-align: center;
    font-size: 40px;
}

// Slide 1

.sl1 {
    height: 100%;
}

.arrow {
    font-family: "Icons";
    color: #EC6F66;
    display: block;
    font-size: 40px;
    text-align: center;
    width: 100px;
    position: absolute;
    bottom: 7%;
    margin-left: -50px;
    left: 50%;
}

.center-me {
    position: absolute;
    top: 35%;
    display: block;
    left: 50%;
    margin-left: -319px;
    z-index: -1;
}

.avatar {
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    opacity: .7;
    position: relative;
}

.intro {
    position: relative;
    width: intrinsic;
    display: inline-block;
    top: -40px;
    left: 8vw;
    margin: 0 auto;
    text-align: left;
    h1 {
        text-transform: capitalize;
        letter-spacing: 1px;
        text-align: left;
        font-weight: 500;
        }
    h2 {
        letter-spacing: 1px;
        text-align: left;
        font-weight: 500;
    }
}

// Slide 2

.sl2 {
    background: #EC6F66;
    z-index: 1;
    overflow: hidden;
    .button {
        display: block;
        margin: 0 auto;
        width: auto;
        max-width: 240px;
        line-height: 36px;
        background-color: none;
        border-color: #f3f0f0;
        text-transform: uppercase;
        color: #f3f0f0;
        padding: none;
        font-weight: 900; 
        font-size: 20px;
        height: 52px;
        min-width: 140px;
        margin-top: 10%;
        letter-spacing: 2px;
        box-shadow: 0px 1px 0px rgb(184,52,52);
        text-shadow: 0px 1px 0px rgb(184,52,52);
        &:hover {
            color: #504a46;
            border-color: #504a46;
            -webkit-transition: all .5s ease;
            transition: all .5s ease;
            box-shadow: 0px 1px 0px rgba(35,35,35,.3);
            text-shadow: 0px 1px 0px rgba(35,35,35,.3);
            }
        &:active {
            box-shadow: none;
            text-shadow: none;
            }
        }
}

.sl2 .cta {
    display: inline-block;
    margin: 0 auto;
    position: relative;
    font-family: $grot;
    color: #f3f0f0;
    top: 25%;
    float: left;
}

.g2 {
    display: inline-block;
    width: 50%;
    height: 100%;
    @include clearfix;
    
    @media only screen and (max-width : 1200px) {
        width: 45%;
    }
}
  
.code {
    position: relative;
    display: inline-block;
    float: right;
    z-index: 5;
}

#tripwire {
    position: absolute;
    width: 100%;
    display: block;
    left: 0;
    top: 90%;
    z-index: 100;
}
  
.window {
    width: auto;
    height: 100%;
    position: absolute;
    left: 12%;
    overflow:hidden;
    bottom: -15%;
    display: none;
    box-shadow: -10px 20px 0px rgba(0,0,0,0.10);
    border-radius: 6px;
}

// Slide 3

.sl3 {
    height: 100%;
    min-height: 700px;
    max-height: 900px;
}

#tripwire-2 {
    position: absolute;
    width: 100%;
    display: block;
    left: 0;
    top: 184%;
    z-index: 100;
}

.g-wrap {
   display: block;
   margin: 0 auto;
   position: relative;
   margin-top: 7%;
}

.g3 {
    width: 33%;
    display: inline-block;
    height: auto;
    min-height: 400px;
    position: relative;
    @include clearfix;
    img {
        max-width: 100%;
        max-height: 100%;
        display: block;
        margin: 0 auto;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        }
    h2 {
        text-align: center;
        padding-top: 6%;
        display: block;
        margin: 0 auto;
        font-weight: 500;
        text-transform: capitalize;
        }
    p {
        font-size: 18px;
        line-height: 27px;
        padding-top: 18px;
        width: 80%;
        display: block;
        margin: 0 auto;
        position: absolute;
        left: 14%;  
        }
    .scale {
      animation-name: scale-in;
      animation-duration: .7s;
      animation-timing-function: cubic-bezier(0.56, -0.01, 0, 1);
      animation-delay: .6s;
      animation-fill-mode: both;
      -webkit-animation-name: scale-in;
      -webkit-animation-duration: .7s;
      -webkit-animation-timing-function: cubic-bezier(0.56, -0.01, 0, 1);
      -webkit-animation-delay: .6s;
      -webkit-animation-fill-mode: both;
    }
}


// Slide 4

.sl4 {
    min-height: 90%;
    height: auto;
    -webkit-transition: opacity .4s ease-in-out;
    -moz-transition: opacity .4s ease-in-out;
    transition: opacity .4s ease-in-out;
    border-bottom: none;
}

.case-wrap {
    margin: 7% auto;
    width: 100%;
}

.case-img {
    position: relative;
    display: block;
    z-index: 10;
    width: 100%;
    height: 300px;
    border-radius: $borderR;
    background-position: center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;  
}

case-list {
    h1 {
        margin-bottom: 0;
        margin-top: 0;
        letter-spacing: 1px;
        font-size: 36px;
        margin-top: 0;
        line-height: 54px;
        top: 5%;
        z-index: 10;
        position: absolute;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; 
        width: 100%;
        display: block;
        text-align: center; 
    }
    .case-title {
        display: block;
        width: 100%;
        background: white;
        opacity: 1;
        position: relative;
        padding-top: 20px;
        padding-bottom: 10px;
        left: 0;
    }
}

.case-list ol {
    display: inline-block;
    list-style: none;
    width: 100%;
    li {
        float: left;
        display: block;
        border: 8px solid rgba(255,255,255,1);
        border-radius: $borderR;
        position: relative;
        overflow: hidden;
        width: 48%;
        margin: 1%;
        box-shadow: 0 4px #E0E0E0;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out; 
        &:hover {
            box-shadow: 0 6px #E0E0E0;
            bottom: 2px;
            -webkit-transition: all .4s ease-in-out;
            -moz-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
            }
        &:active {
            box-shadow: 0 0px #e0e0e0;
            bottom: 0;
            -webkit-animation: none;
            -moz-animation: none;
            -webkit-transition: all .2s ease-in-out;
            -moz-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
        }
        &:last-child {
            margin-bottom: 10%;
        }
    }
}

.case-list:hover > a {
    opacity: .5;
}

.case-list:hover > a:hover {
    opacity: 1;
}

.case-deets {
        background: #EBE8E8;
        height: 400px;
        width: 100%;
        border-radius: 4px;
        display: block;
        position: absolute;
        top: 0;
        z-index: 50;
        opacity: 0;
        left: 0px;
        -webkit-transition: opacity .5s ease-in-out;
        -moz-transition: opacity .5s ease-in-out;
        transition: opacity .5s ease-in-out;
    &:hover {
        opacity: 1;
        -webkit-transition: opacity .3s ease-in-out;
        -moz-transition: opacity .3s ease-in-out;
        transition: opacity .3s ease-in-out;
    }
}

@media only screen and (min-width: 1200px) {
    .case-list li {
        width: 31%;
    }
    
    .wrap-alt .flexi > div {
        width: 31%
    }
}

@media only screen and (max-width: 700px) {
    
    .wrap-alt .flexi > div {
        width: 100%
    }
    
    .case-list ol {
        display: block;
        list-style: none;
    }
    .case-list li {
        float: none;
        margin: 0 auto;
        width: 100%;
        margin-bottom: 3%;
    }
    .case img {
        display: none;
    }
}

.case-list .case-title {
    display: block;
    width: 100%;
    background: white;
    opacity: 1;
    position: relative;
    padding-top: 20px;
    padding-bottom: 10px;
    left: 0;
}

.case-deets {
    background: #EBE8E8;
    height: 400px;
    width: 100%;
    border-radius: 4px;
    display: block;
    position: absolute;
    top: 0;
    z-index: 50;
    opacity: 0;
    left: 0px;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

.case-deets:hover {
    opacity: 1;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
}

.case-list p {
    margin-bottom: 0;
    top: 25%;
    width: 90%;
    font-size: 18px;
    line-height: 27px;
    z-index: 100;
    left: 6%;
    color: #504a46;
    position: absolute;
}

.case-list a:hover {
    color: #EC6F66;
}

.case-list a h1:hover {
    color: #504a46;
    -webkit-transition: color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
}

.sl-head {
    margin-top: 8%;  
}


@media only screen and (max-width : 900px) {

.center-me {
    position: absolute;
    top: 35%;
    display: block;
    left: 50%;
    margin-left: -239px;
}

.avatar {
    width: 130px;
    height: 130px;
    opacity: .7;
}

.intro {
    position: relative;
    top: -28px;
}

.intro p {
    margin-bottom: 8px;
}

.intro h1 {
    font-size: 32px;
    line-height: 1.5em;
}

.intro h2 {
    font-size: 28px;
}

.sl-head {
    font-size: 30px;
    margin-top: 7%;
}

.sl3 {
    min-height: 1000px;
    height: auto;

}

.g-wrap {
    height: auto;
}

.g3 {
    display: block;
    margin: 0 auto;
    width: auto;
    max-width: 600px;
    min-height: 270px;
}
.g3 img {
    display: inline-block;
    float: left;
    width: 30%;
    height: auto;
    margin-right: 1em;
}

.g3 .info {
    display:inline-block;
    float: right;
    width: 65%;
    position: relative;
}

.first .info {
    top: -16px;
}

.second .info {
    top: -22px;
}

.third .info {
    top: -20px;
}

.second img {
    float: right;
    margin-right: 0;
    margin-left: 1em;
}



.g3 .second info {
    float: left;
}

.g3 h2, .g3 p {
    position: relative;
    left: 0;
}

.submitted h2 {
    font-size: 28px;
}


} /* End Media Queries for Tablets */

@media only screen and (max-width : 600px) {

.portf {
    
}

.center-me {
    display: block;
    margin: 0 auto;
    left: 50%;
    margin-left: -140px;
    position: absolute;
    top: 30%;
}

.intro {
    top: 2rem;
    left: 0;
    display: block;
}

.intro h1 {
    font-size: 30px;
    letter-spacing: 0px;
    text-align: center;
}

.g2 {
    width: 100%;
}

.code {
  display: none;  
}

.intro h2 {
    font-size: 22px;
}

.intro p {
    margin-bottom: 4px;
}

.avatar {
    top: 0;
    width: 120px;
    height: auto;
    display: block;
    position: relative;
    margin: 0 auto;
}

.work a {
    display: block;
    width: 100%;
    padding: 1%;
}

.sl3 {
    display: none;
}


.submitted .previous-posts {
    width: 100%;
    margin-top: 0;
    padding-top: 20px;
    position: relative;
    overflow: hidden;
}

.submitted .previous-posts h1 {
    margin-top: 10%;
}


.submitted p {
    font-weight: 500;
    line-height: 1.4em;
    margin-bottom: 0;
    font-size: 20px;
    left: 0;
    position: relative;
}

.submitted .featured-image-mini {
    display: none;
}

.submitted .previous-posts li {
    margin-bottom: 1rem;
    margin-top: 0;
}






/*- ARTICLE ----------------------------------- */
section {
  .article {
  position: relative;
  margin-bottom: 50px; 
  }
  img.loading {
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 10%;
  left: 50%;
  margin-left: -12px;
  z-index: 10;
  }
  .archive {
    margin: 50px 0;
    .post-list {
        width: 100%;
        list-style: none;
        list-style-type: none;
        .bb{
            border-bottom: 4px solid #D25437;
            }
        li {
            margin-bottom: $lh*2;
            padding: ($lh * 2) 0;
            width: 100%;
            font-size: 24px;
          }
            time {
                position: relative;
                top: -6px;
                font-size: 16px;
                line-height: $lh;
                vertical-align: middle;
            }
        }
        }
    }
    .post {
        img {
            width: auto;
            max-width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;
        }
        h1, h2, h3, h4, h5 {
            margin-bottom: $lh/2;
        }
    }    
    .deets {
        position: relative;
        top: 45px;
        z-index: 5;
        .date {
            font-size: 18px;
            font-style: normal;
            position: relative;
            top: 10px;
            left: 6px;
            color: #b1b1b1;
    }
}

.featured-image-small {
    float: left;
    position: relative;
    z-index: 10;
    margin-right: 3em;
    width: 160px;
    height: 160px;
    border-radius: 80px;
    background-position: center center;
    background-size: cover;
}

section.article div.featured-image {
  vertical-align: middle;
  height: 70%;
  width: 100%;
  min-height: 400px;
  max-height: 800px;
  background-position: center center;
  background-size: cover;
  vertical-align: middle;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  position: relative;
  top: 0;
  z-index: -1;
}

section.article article.post header.post-header {
  margin: (2*$lh) 0 $lh 0;
  hgroup {
      color: $black;
      position: relative;
      text-align: center;
      width: 100%;
      .date {
        font-family: $grot;
        font-size: 14px;
        font-weight: 700;
        color: $lighter;
        text-transform: uppercase;
        margin-top: $lh * 2/3;
        }
        h1 {
            margin-bottom: $lh / 2;
            letter-spacing: -1px; 
        }
        .lead {
            font-size: 28px;
            font-style: italic;
            line-height: $lh + 4;
            margin-bottom: 0;
        }
    }
}

section.article article.post figure {
  margin: $lh 0;
    figcaption {
        font-size: 16px;
        font-style: bold;
        text-transform: uppercase;
        color: lighten($black, 50%);
        text-align: center;  
    }
    img {
       max-width: 100%;
       width: auto;
       height: auto;
       margin-bottom: $lh/2; 
    }
}

section.article article.post p.meta {
  color: $lighter;
  font-style: italic;
  font-size: 16px;
}
section.article article.post .video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: $lh; 
  height: 0; 
  overflow: hidden;
  margin-bottom: $lh;
}

section.article article.post .video-container iframe,
section.article article.post .video-container object,
section.article article.post .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*- FOOTER ----------------------------------- */
.push {
  height: 320px !important; 
  }
  
footer {
  background-color: $black;
  height: $footerH;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 20px;
  margin-top: 50px;
  overflow: hidden;
  aside {
      overflow: hidden;
  }
}


/* Social */

.social {
  float: right;
  padding-top: 88px;
  font-size: 20px;
  width: auto;
    ul {
        list-style: none;
        list-style-type: none 
        li {
            margin-bottom: 36px;   
        }
        li:last-child {
                margin-bottom: 0;
            }
    .foot-link {
        margin-left: 10px; }
}
}

@media only screen and (max-width : $break-mid) {
    .social {
        width: 80px;
        padding-top: $lh*2;
    }
    .social ul li {
        margin-bottom: 30px;
    }
    
    .social .icons {
        font-size: 30px;
        float: right;
        text-align: right;
    }
    .foot-link {
        visibility: hidden;
    }
    .social ul li:first-child {
        margin-bottom: $lh/2;
    }
}


@media only screen and (max-width : 620px) {
    .social .icons {
        float: right;
        text-align: right;
    }
    
    .previous-posts {
        width: 36vw;
    }
    
    .recent-list {
        width: 36vw;
    }
    
    .date {
        display: none;
    }
    
    .foot-link {
        visibility: hidden;
    }
}

@media only screen and (max-width : 480px) {
    .social {
        display: none;
    }
    
    .previous-posts {
        width: auto;
        max-width: 90vw;
        min-width: 68vw;
    }
    
    .previous-posts ol li {
        width: 68vw;
    }
    
    .recent-list {
        width: auto;
        max-width: 90vw;
        min-width: 68vw;
    }
}



.icons {
  font-family: "Icons";
  font-size: 14px;
  line-height: 20px; 
}

#mail {
    color: $bg;
    &:hover {
        color: transparentize($bg, .3);
    }
}

#drib {
    color: #EC9E92;
    &:hover {
        color: transparentize(#EC9E92, .3)
    }
}

#twit {
    color: #4099FF;
    &:hover {
        color: transparentize(#4099FF, .3)
    }
}
    
    


/* Recent Posts */

.previous-posts {
    width: 340px;
    float: left;
    height: 250px;
    overflow: hidden;
    p {
        padding-top: $lh*2;
    }
    li {
        margin-top: 10px;
        width: auto;
        @include clearfix;
        a {
            color: $bg;
            &:hover {
                color: $red;
                }
            }
        span.date {
            font-family: $sans, $sans-alt;
            color: transparentize($lighter, .3);
            float: right;
            text-align: right;
            float: right;
            position: relative;
            top: 2px;
        }
    }
    .recent-title {
        float: left;
        width: 220px;
    }
    
}

footer .recent-list {
  padding-top: $lh;
  font-family: 'Brandon Grotesque', sans-serif;
  line-height: $lh+2;
  font-size: 26px;
  font-weight: 500;
  color: $bg;
  text-transform: capitalize;
  border-bottom: 4px solid $green;
  margin-bottom: $lh / 2;
}


/*- MEDIA QUERIES ----------------------------------- */
@media only screen and (max-width : 960px) {
  .wrap {
    width: 100%;
  }
  .wrap.post {
    padding: 0 7%;
    max-width: 780px;
  }
  header.site-header {
    padding: 20px 7%;
    overflow-x: hidden;
  }
  
  footer {
      overflow-x: hidden !important;
  }
  
/*   All Posts */

.archive-wrap {
    width: 600px;
   }
   
.deets {
    position: relative;
    top: 20px;
}

section.archive ol.post-list {
    li {
      padding-bottom: $lh*2;
      font-size: 24px;
      width: 100%;
      padding-top: $lh*2;
      margin-bottom: 16px;
      span, span time {
        font-size: 15px;
        line-height: 20px;
        vertical-align: middle;
      }
    }
}

.featured-image-small {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 2em;
    border-radius: 50px;
    background-position: center center;
    background-size: cover;
}
    
.post-list h1 {
    font-size: 40px;
    line-height: 50px;
}

  
}



@media only screen and (max-width : 680px) {
  
   /* All Posts */
  
  section.archive {
      margin-top: 50px;
  }
  
   .archive-wrap {
       width: 90%;
   }
   
   .post-list h1 {
       font-size: 36px;
       line-height: 45px;
   }
  
    .deets {
        position: relative;
        top: 20px;
}

    .featured-image-small {
        width: 80px;
        height: 80px;
        float: left;
        margin-right: 1em;
        border-radius: 40px;
        background-position: center center;
        background-size: cover;
}

    section.archive ol.post-list li {
      padding-bottom: 72px;
      font-size: 24px;
      width: 100%;
      padding-top: 72px;
      margin-bottom: 0px;
    }
  
  
  section.article img.loading {
    top: 10px !important;
    left: inherit;
    right: 6%;
  }

  section.article article.post {
      header.post-header {
          margin: $lh 0;
          hgroup h1 {
            font-size: $font-size + 4px !important;
          }
          p.date {
            font-size: $font-size - 12px !important;
          }
          p, ul, ol {
            font-size: $font-size - 4px !important;
            line-height: 30px !important;
            margin-bottom: 30px;  
          }
          ul, ol {
              margin-left: 30px;
          }
          li {
              line-height: 30px !important;
          }
          p.lead, blockquote {
            font-size: $font-size + 2px !important;
          }
          blockquote {
             padding-left: 30px;
             line-height: 30px; 
          }
        }
  }

  header.site-header {
    min-height: 59px;
    hgroup {
        float: none;
        position: absolute;
        left: 7%;  
    }
    a.menu {
        display: block;
        height: 16px;
        width: 16px;
        position: absolute;
        right: 7%;
        float: right;
        img {
            height: 16px;
            width: auto;
        }
    }
    nav {
        display: none;
        float: none;
        width: 100%;
        @include clearfix; 
        ul {
          padding: 45px 0 10px 0;
          background: $bg;
          li {
            display: block;
            font-size: 24px;
            margin-left: 0;
            border-top: 1px solid #DDDDDD; 
            background: $bg; 
          }
          a {
            color: $black;
            background: $bg;
            display: block;
            width: 100%;
            padding: 15px 0;  
            &:active {
                background-color: $red;
                color: $bg; 
            }
          }  
        }
    }
    
  }
}

@media only screen and (max-width : 500px) {

.archive-wrap {
    width: 96%;
    margin: 0 auto;
}

.post-list li {
    width: 100%;
    height: 100px;
    text-align: center;
}

   .post-list h1 {
       font-size: 36px;
       line-height: 48px;
       white-space: nowrap;
       text-overflow: ellipsis;
       overflow: hidden;
       width: 200px;
       margin: 0 auto;
   }
  
    .deets {
        position: relative;
        top: 25px;
}

    section.archive ol.post-list li {
      padding-bottom: 16px;
      font-size: 24px;
      width: 100%;
      padding-top: 32px;
      margin-bottom: 16px;
    }
}

.featured-image-small {
    display: none;
}

.deets.date {
    visibility: visible;
    display: inline-block;
}


section.article img.loading {
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 20%;
  left: 50%;
  margin-left: -12px;
  z-index: 10;
}

section.article div.featured-image {
  vertical-align: middle;
  height: 50%;
  max-height: 260px;
  width: 100%;
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  position: relative;
  top: 0;
  z-index: -1;
}

footer p.recent-list {
  font-family: $grot;
  line-height: 30px;
  font-size: 20px;
  font-weight: bold;
  color: $bg;
  text-transform: capitalize;
  border-bottom: 4px solid $green;
  margin-bottom: 15px;
}

footer ol.previous-posts li span.date {
  visibility: hidden;
}

}


/* Animations */
@-webkit-keyframes scale-in
{
    0% { 
        opacity             : 0;
        -webkit-transform   : scale(.05);
    }
    100% {
        opacity             : 1;
        -webkit-transform   : scale(1);
    }
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(20px);
	}
	
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
	}
	
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}


@-webkit-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-90px);
	}
	
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}

@-webkit-keyframes fadeInLeftLess {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-40px);
	}
	
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}

.featured-image-small {
  -webkit-animation-name: scale-in;
  -webkit-animation-duration: .7s;
  -webkit-animation-timing-function: cubic-bezier(0.56, -0.01, 0, 1);
  -webkit-animation-delay: .6s;
  -webkit-animation-fill-mode: both;
}

.scale {
    -webkit-animation-name: scale-in;
    -webkit-animation-duration: .6s;
    -webkit-animation-timing-function: cubic-bezier(0.56, -0.01, 0, 1);
    -webkit-animation-delay: 0s;
    -webkit-animation-fill-mode: both;  
}

.scale-quick {
    -webkit-animation-name: scale-in;
    -webkit-animation-duration: .5s;
    -webkit-animation-timing-function: cubic-bezier(0.56, -0.01, 0, 1);
    -webkit-animation-delay: 0;
    -webkit-animation-fill-mode: both;  
}

.fadeIn {
    animation: fadeInDown .5s cubic-bezier(.05,.35,1,.55);
    -webkit-animation: fadeInDown .5s cubic-bezier(0.5, -0.005, .1, .2);
}

.fadeInUp {
    animation: fadeInUp .5s cubic-bezier(.05,.35,1,.55);
    -webkit-animation: fadeInUp .5s cubic-bezier(.05,.35,1,.55);
}

.left-slide {
     -webkit-animation-name: fadeInLeft;
    -webkit-animation-duration: 1.2s;
     -webkit-animation-timing-function: cubic-bezier(0.7, -0.005, .1, 1);
    -webkit-animation-delay: 1s; 
    -webkit-animation-fill-mode: both;
}

.left-slide-less {
     -webkit-animation-name: fadeInLeftLess;
    -webkit-animation-duration: .8s;
     -webkit-animation-timing-function: cubic-bezier(0.7, -0.005, .1, 1);
    -webkit-animation-delay: 1.2s; 
    -webkit-animation-fill-mode: both;
}

.hovering {
    -webkit-animation: hovering 3s infinite;
    -webkit-animation-delay: 1.3s;
    -moz-animation-delay: 1.3s;
    animation-delay: 1.3s;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation: hovering 3s infinite;
    -moz-animation-timing-function: ease-in-out;
}


@-webkit-keyframes hovering {
    0% {-webkit-transform:translate(0, 0); }
    50% {-webkit-transform:translate(0, 7px);}
    100% {-webkit-transform: translate(0, 0); }    
}

@-webkit-keyframes hoverSmall {
    0% {-webkit-transform:translate(0, 0); }
    50% {-webkit-transform:translate(0, 2px);}
    100% {-webkit-transform: translate(0, 0); }    
}

@-webkit-keyframes slide {
    0% { bottom: -18%; opacity: 0; }
    100% { bottom: -15%; opacity: 1; }
}


.slide {
  animation: slide .9s cubic-bezier(0.5, -0.005, .1, 1);
  -webkit-animation: slide .9s cubic-bezier(0.5, -0.005, .1, 1);
  -moz-animation: slide .9s cubic-bezier(0.5, -0.005, .1, 1);
}

@-webkit-keyframes bounceInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-80px) scale(1);

	}

	20% {
		opacity: 1;
		-webkit-transform: translateY(20px) scaleX(1.05) scaleY(.92);

	}

	40% {
		-webkit-transform: translateY(10) scaleX(.99) scaleY(1.0);

	}

	60%, 100% {
		-webkit-transform: translateY(0) scale(1);

	}
}



/* Icon Font */    
    @font-face {
    font-family: 'Icons';
    src: url('http://static.tumblr.com/d0zy9go/tLxmiwev5/icons.eot');
    src: url('http://static.tumblr.com/d0zy9go/tLxmiwev5/icons.eot') format('embedded-opentype'),
         url('http://static.tumblr.com/d0zy9go/0EPmiwewl/icons.woff') format('woff'),
         url('http://static.tumblr.com/d0zy9go/muzmiwew1/icons.ttf') format('truetype'),
         url('http://static.tumblr.com/d0zy9go/Wccmiwex1/icons.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}